ul {
  list-style-type: none;
  padding-left: 10px;
}

li {
  padding-top: 2px;
  padding-bottom: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  margin-right: 61.75vw;
}

.edit {
  position: absolute;
  right: 67.5vw;
  font-size: 1vw;
}

.remove {
  position: absolute;
  right: 62.65vw;
  font-size: 1vw;
}

.h {
  border: 0ch;
}