#TODOList {
  /* width: 37.25vw; */
}

button, input {
  font-size: 1vw;
}

.todo {
  padding-top: 2px;
  padding-bottom: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  margin-right: 61.75vw;
  width: 37.125vw;
  border: 1px solid #00000020;
}

.checkbox {
  vertical-align: top;
}

.task {
  display: inline-block;
  width : 28vw;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0px;
}

.edit {
  position: absolute;
  right: 67.5vw;
  font-size: 1vw;
  visibility: hidden;
}

.remove {
  position: absolute;
  right: 62.65vw;
  font-size: 1vw;
  visibility: hidden;
}

#hover {
  background-color: #ff880071;
  width: 37.125vw;
}

#hover > button {
  visibility: visible;
}

#hover > p {
  word-wrap: break-word;
  overflow: visible;
  white-space: normal;
}

#gap {
  width: 37.125vw;
  height: 30px;
  background-color: #dddddd60;
}